.active {
  background: #537895;
}

#nav-options-container li a {
  display: block;
  padding: 6px 8px;
  text-align: center;
  border-radius: 10px;
  transition: 0.3s;
}
#nav-options-container li a:hover {
  background: #537895;
  color: white;
}
